nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
nbproject/.DS_Store

.DS_Store

nbbuild.xml

nbproject/ant-deploy.xml

nbproject/build-impl.xml

nbproject/genfiles.properties
web/META-INF/context.xml
