/* 
    Document   : styleAdmin
    Created on : 28.03.2012, 15:24:13
    Author     : Andreas
    Description:
        Purpose of the stylesheet follows.
*/

#userSpaceAdmin{
    margin-top:106px;
    float:left;
}
